---
import BaseHead from '../components/BaseHead.astro';
import Navigation from "../components/Navigation.astro";
import Markdown from "../components/Markdown.astro";
import SocialLinks from "../components/SocialLinks.astro";
import {SITE_TITLE} from '../consts';
import Footer from "../components/Footer.astro";
import CCALogo from "../components/icons/CCALogo.astro";

const aboutIntro = `
# Hi!
# I'm David 
## Vandenbogaerde
#### or *d17e* for short.

With about **20 years** of experience in software development, I am now shifting my focus to using **code** as a way of turning **ideas** into **artistic expression**.

These take the shape of **plotter drawings**, **generative design tools** or **audio visualisations**... Most of the time.

I also love helping **businesses small & large** to build **better products** and **streamline** their processes.

Think your project could use some magic?<br/>[Let's have a chat!](https://forms.d17e.dev/contact)
`;

const aboutContent = `
## What's on here?

Under the [posts](/posts) section you can find the stream of images and videos I produce documenting my progress. 
Where I can I also I add some of the story behind the content. Often in series of threes, as I might have some OCD going on, but nothing unmanageable. I promise.

The [blog](/articles) part houses my writing. For now, this is where you can find more long-form content.
I intend to expand on this part of my space here and create my version of a digital garden. But that's for later.
[Stay tuned?!](https://forms.d17e.dev/subscribe)

Then, last but not least, there's the [landing page](/). 
I'd been wondering how to make my landing page more engaging and user-friendly, but hadn't really come up with anything substantial.
That is until the recent Genuary '25 prompt: ['Grid-based graphic design'](https://genuary25.d17e.dev/prompt/29) sparked something.
That spark is now my landing page. I hope you like it.`;

const aboutConnect = `
## Connect

The source of all the stuff I do and create is right here, but I'm also on _the platforms_. 
Not _me_ per se, rather the robots 🤖 I've typed and clicked into existence to do my social media bidding.
You can find me on:`;

const aboutCC = `
Or if you're in or around Amsterdam (NL), come hang out at one of the [Creative Coding Amsterdam](https://cca.codes) meetups I help organize
together with [Sinan](https://openprocessing.org) & [Stanko](https://muffinman.io).
`;

const aboutExperience = `
## Experience


`;

const about = `
## Experience

With about 20 years of writing code behind me, it is hard summarize, so instead here's a list of things I've worked with over the years. In order of appearance.

#C++ #MFC #Win32 #OOP #VisualStudio #SQL #DirectX #OpenGL #XNA #Processing #C# #Perl #Java #GWT #Eclipse #MSSQL #Oracle #Haskell #FP #JavaScript
#OWASP #WebStorm #React #Maven #Jenkins #docker #CLI #TypeScript #Vercel #Cloudflare #Svelte #Astro #SVG
 
 
For more details, please check out [LinkedIn](https://www.linkedin.com/in/d16de/).`;

const aboutSite = `
## Site

### Tech

This site is built with [Astro](https://astro.build), [Svelte](https://svelte.dev) & [SVG](https://developer.mozilla.org/en-US/docs/Web/SVG).
I am very happy with this stack. Can recommend.
Source code is available on [GitHub](https://github.com/dxviie/d17e.dev).

### Fonts <span style="font-size: 1rem;">([Atipo Foundry](https://www.atipofoundry.com/))</span>:`
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={`About | ${SITE_TITLE}`} description="About the developer behind d17e.dev"/>
  <style>
      main {
          width: 90%;
          max-width: 960px;
          margin: 3rem auto 0;
          padding: 2rem 1rem;
          min-height: calc(100vh - 12.5rem);
      }

      .page-title {
          font-family: 'nudica_monobold', serif;
          margin-bottom: 2rem;
          border-bottom: 1px solid var(--border-color);
          padding-bottom: 0.5rem;
      }

      .avatar-container {
          position: absolute;
          display: flex;
          justify-content: end;
          width: 100%;
          max-width: 55rem;
      }

      section {
          display: flex;
          flex-direction: column;
          width: 100%;
      }

      .connect {
          gap: 2rem;
      }

      .avatar {
          width: 12rem;
      }

      @media (max-width: 600px) {
          .avatar-container {
              max-width: 90vw;
          }

          .avatar {
              margin-top: -1.5rem;
              width: 6rem;
          }
      }
  </style>
</head>
<body>
<Navigation/>
<main>
  <h1 class="page-title">About</h1>
  <div class="avatar-container">
    <img src="/avatar_me_vera_round.png" class="avatar" alt="my avatar in a circle"/>
  </div>
  <article class="about-container">
    <section class="intro">
      <Markdown content={aboutIntro}/>
    </section>
    <hr/>
    <section class="content">
      <Markdown content={aboutContent}/>
    </section>
    <hr/>
    <section class="connect">
      <Markdown content={aboutConnect}/>
      <SocialLinks showGitHub={true} showLinkedIn={true}/>
      <a href="https://cca.codes">
        <div class="cca-logo-container">
          <CCALogo/>
        </div>
      </a>
      <Markdown content={aboutCC}/>
    </section>
    <hr/>
    <section class="experience">
      <Markdown content={about}/>
    </section>
    <hr/>
    <section class="site">
      <Markdown content={aboutSite}/>
      <ul class="fonts">
        <li class="nmb">Nudica Mono Bold</li>
        <li class="nml">Nudica Mono Light</li>
        <li class="argesta">Argesta Regular</li>
      </ul>
    </section>
  </article>
</main>
<Footer/>
</body>
</html>

<style>
    .about-container {
        max-width: 800px;
        padding: 0 .5rem;
    }

    .about-container hr {
        margin: 2rem 0;
        border: 0;
        border-top: 1px solid var(--border-color);
    }

    .cca-logo-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 3rem;
    }

    ul {
        font-size: 1rem;;
    }

    .nmb {
        font-family: 'nudica_monobold', serif;
    }

    .nml {
        font-family: 'nudica_monolight', serif;
    }

    .argesta {
        font-family: 'argesta_regular', serif;
    }

    @media (max-width: 600px) {
        .about-container {
            margin-top: 1rem;
        }
    }
</style>