---
import BaseHead from '../components/BaseHead.astro';
import Navigation from "../components/Navigation.astro";
import Markdown from "../components/Markdown.astro";
import SocialLinks from "../components/SocialLinks.astro";
import {SITE_TITLE} from '../consts';
import Footer from "../components/Footer.astro";
import CCALogo from "../components/icons/CCALogo.astro";

const aboutIntro = `
# Hi!
# I'm David 
# Vandenbogaerde
#### or <div class="d17e-text">d17e</div> for short.`;

const aboutCode = `And have been doing so for over **20 years**, making it hard to summarize.
So instead here's a non-exhaustive list of things I've worked with over the years. In order of appearance.

#C++ #MFC #Win32 #OOP #VisualStudio #SQL #DirectX #OpenGL #XNA #Processing #C# #Perl #Java #GWT #HTML #CSS #Eclipse #MSSQL #Oracle #Haskell #FP #JavaScript
#OWASP #WebStorm #React #Maven #Jenkins #Angular #Spring #docker #CLI #TypeScript #Vercel #Cloudflare #Svelte #Astro #SVG
 
For more details, you can check out [LinkedIn](https://www.linkedin.com/in/d16de/). Or if you think your project could use some of my **magic**, [let's have a chat!](https://forms.d17e.dev/contact)`;

const aboutArt = `I've always had a passive eye on the [creative side](https://www.media.mit.edu/people/maeda/overview/) of [technology](https://reas.com/), though never created anything substantial.
That is why, in Q4 of **2022**, I started freelancing. In doing so, I created a little bit of space dedicated to **artistic exploration**.

You can find the outputs of that **journey** under the [media](/posts) section. 
Where I can, I also I add some of the **story** behind the content. Often in series of threes, as I might have some OCD going on, but nothing unmanageable. I promise.

In case you missed it, check out my [landing page](/). It was inspired by the recent Genuary '25 prompt: ['Grid-based graphic design'](https://genuary25.d17e.dev/prompt/29)
and is now, in a way, a long-form generative piece **created just for you** everytime you visit.<br/>
I hope you like it.`;

const aboutIdeas = `I try to **learn** something new everyday, so naturally I've collected an eclectic collection of **stories** and **ideas** over the years.
When I share these, you can find them on my [blog](/articles). 

I intend to expand on this part and create my own version of a [digital garden](https://maggieappleton.com/garden-history). But that's for later.
[Stay tuned?!](https://forms.d17e.dev/subscribe)`;

const aboutConnect = `
## Connect

The source of all the stuff I do and create is right here, but I'm also on _the platforms_. 
Not _me_ per se, rather the robots 🤖 I've typed and clicked into existence to do my social media bidding. But _I'm there_.
You can find me on:`;

const aboutCC = `
If you're in or around Amsterdam 🇳🇱, come hang out at one of the [Creative Coding Amsterdam](https://cca.codes) meetups I help organize
together with [Sinan](https://openprocessing.org) & [Stanko](https://muffinman.io).
`;

const aboutSite = `
## Site

### Tech

This site is built with [Astro](https://astro.build), [Svelte](https://svelte.dev) & [SVG](https://developer.mozilla.org/en-US/docs/Web/SVG).
I am very happy with this stack. Can recommend 💯.
Source code is available on [GitHub](https://github.com/dxviie/d17e.dev).

### Fonts <span style="font-size: 1rem;">([Atipo Foundry](https://www.atipofoundry.com/))</span>:`
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={`About | ${SITE_TITLE}`} description="About the developer behind d17e.dev"/>
  <style>
      main {
          width: 90%;
          max-width: 960px;
          margin: 3rem auto 0;
          padding: 2rem 1rem;
          min-height: calc(100vh - 12.5rem);
      }

      .page-title {
          font-family: 'nudica_monobold', serif;
          margin-bottom: 2rem;
          border-bottom: 1px solid var(--border-color);
          padding-bottom: 0.5rem;
      }

      .avatar-container {
          position: absolute;
          display: flex;
          justify-content: end;
          width: 100%;
          max-width: 55rem;;
      }

      .about-section {
          display: inline-block;
          width: fit-content;
          font-family: 'nudica_monobold', serif;
          font-size: x-large;
          padding: 0.3rem 1rem;
          margin: 1rem 0 0.5rem;
          color: var(--bg-color);
          background-color: var(--color);
      }

      section {
          display: flex;
          flex-direction: column;
          width: 100%;
      }

      .connect {
          gap: 2rem;
      }

      .avatar {
          width: 12rem;
          border-radius: 50%;
      }


      @media (max-width: 600px) {
          .avatar-container {
              max-width: 90vw;
          }

          .avatar {
              margin-top: -1.5rem;
              width: 6rem;
          }
      }
  </style>
</head>
<body>
<Navigation/>
<main>
  <h1 class="page-title">About</h1>
  <div class="avatar-container">
    <img src="/avatar_me_vera_round.png" class="avatar" alt="my avatar in a circle"/>
  </div>
  <article class="about-container">
    <section class="intro">
      <Markdown content={aboutIntro}/>
    </section>
    <br/>
    <section class="intro">
      <span class="about-section">I code.</span>
      <Markdown content={aboutCode}/>
    </section>
    <section class="intro">
      <span class="about-section">I art.</span>
      <Markdown content={aboutArt}/>
    </section>
    <section class="intro">
      <span class="about-section">Ideas.</span>
      <Markdown content={aboutIdeas}/>
    </section>
    <hr/>
    <section class="connect">
      <Markdown content={aboutConnect}/>
      <SocialLinks showLinkedIn={true} showGitHub={true} showMastodon={true} showTwitter={true}/>
      <a href="https://cca.codes" data-umami-event="about-click-cca">
        <div class="cca-logo-container">
          <CCALogo/>
        </div>
      </a>
      <Markdown content={aboutCC}/>
    </section>
    <hr/>
    <section class="site">
      <Markdown content={aboutSite}/>
      <ul class="fonts">
        <li class="nmb">Nudica Mono Bold</li>
        <li class="nml">Nudica Mono Light</li>
        <li class="argesta">Argesta Regular</li>
      </ul>
    </section>
    <hr/>
    <section class="old-site">
      <Markdown content="### Previous personal sites"/>
      <ul class="old-site-list">
        <li><a href="https://d17edev-site.vercel.app">d17e.dev v1 (2022 - 2024)</a></li>
        <li><a href="https://d17e.netlify.app">d17e.com (2019 - 2022)</a></li>
      </ul>
    </section>
  </article>
</main>
<Footer/>
</body>
</html>

<style>
    .about-container {
        max-width: 800px;
        padding: 0 .5rem;
    }

    .about-container hr {
        margin: 2rem 0;
        border: 0;
        border-top: 1px solid var(--border-color);
    }

    .cca-logo-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 3rem;
    }

    :global(.d17e-text) {
        display: inline-block;
        font-family: 'nudica_monolight', serif;
        color: var(--color);
    }

    ul {
        font-size: 1rem;;
    }

    .nmb {
        font-family: 'nudica_monobold', serif;
    }

    .nml {
        font-family: 'nudica_monolight', serif;
    }

    .argesta {
        font-family: 'argesta_regular', serif;
    }

    .old-site-list {
        font-family: 'nudica_monolight', serif;
    }

    @media (max-width: 600px) {
        .about-container {
            margin-top: 1rem;
        }
    }
</style>